<<<<<<< HEAD
// .home-header {
//   font-family: handjet;
// }
// .home-subheader {
//   font-family: handjet;
// }
// #home-button {
//   background-color: lightgray;
// }
// .btn a {
//   background-color: lightgray;
//   text-decoration: none;
//   color: black;
//   border-width: 4px;
//   border-color: black;
=======
.home-header {
  font-family: handjet;
}

.home-subheader {
  font-family: handjet;
}

#home-button {
  background-color: lightgray;
}

.btn a {
  background-color: lightgray;
  text-decoration: none;
  color: black;
  border-width: 4px;
  border-color: black;
}
>>>>>>> master

// }
h1 {
  font-family: handjet;
}
<<<<<<< HEAD

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-50);
  text-align: center;
}

.content p{
  font-family: 'handjet';
  margin: 2px;
  font-weight: 100;
  line-height: 25px;
}

#start-button {
  font-family: 'handjet';
  background-color: lightgray;
  color: black;
  border-width: 4px;
  text-decoration: none;
  border-color: black;
}
=======
>>>>>>> master
