*{
  margin: 0;
  padding: 0;
  // font-family: 'Black Ops One', cursive;
}
.banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5)
}
@media (max-width: 768px) {
  .background-video {
    filter: grayscale(100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .content {
      background-color: rgba(255, 255, 255, 1);
  }
}
@media (max-width: 768px) {
  .background-video {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color:aliceblue;
}
.content h1 {
  font-size: 200px;
  margin-top: 80px;
  background: linear-gradient(45deg, rgb(239, 96, 210), rgb(251, 251, 80), rgb(7, 227, 7), blue, purple);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colorTransition 7s linear infinite;
}
@keyframes colorTransition {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.content h2 {
  font-size: 50px; /* Defina o tamanho da fonte desejado (por exemplo, 24 pixels) */
  color: greenyellow;
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
}
a {
  text-decoration: none;
  color: darkorchid;
}
button {
  width: 200px;
  padding: 18px 0;
  margin: 5px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid darkorchid;
  background: transparent;
  color: darkorchid;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: transparent;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
