.btn a {
  // background-color: lightgray;
  text-decoration: none;
  color: black;
  // border-width: 2px;
  // border-color: black;
}

// h1 {
//   font-family: handjet;
// }

.content {
  width: 100%;
  position: absolute;
  top: 15%;
  // transform: translateY(-50);
  text-align: center;
}

.content h1 {
  // font-family: 'faster one';
  // font-size: 45px;
  font-family: 'handjet';
  font-size: 73px;
  font-weight: bolder;
  margin-bottom: 0px;
}

#home-container {
  margin-top: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content h2 {
  font-family: 'handjet';
  font-weight: 400;
  font-size: 30px;
}

.home-btn {
  font-family: 'handjet';
  background-color: lightgray;
  // color: black;
  border-width: 5px;
  text-decoration: none;
  border-color: black;
  // top: 50%;
  width: 35vw;
  height: 20vw;
  // margin-top: 50%;
  // margin-top: 10px;
  font-size: 45px;
  border-radius: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ruby {
  width: 30px;
  height: 30px;
  // // position: relative;
  margin-left: 7px;
  // left: 165px;
  // justify-self: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: $green !important;
  background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693688930/game-of-codes-full-scenario_gnzd5r.png");
  // background-repeat: repeat;
  // font-family: "Montserrat", sans-serif;
  text-align: center;
  animation: marquee 500s infinite linear;
  background-size: cover;
  // background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693688930/game-of-codes-full-scenario_gnzd5r.png");
  background-repeat: repeat;
  // background-size: cover;
  background-attachment: fixed;
  /* animation: marquee 30s infinite linear; */
}

@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -20000px;
  }
}
