<div class="container" >
  <div class="box-grey" style="border-style: solid; border-width: 5px; align-items: center; background-color: lightgray; color: black; width: 90%; padding: 7px; margin-top: 20px; margin-bottom: 20px;">
    <h1 class="history-title">PREVIOUS RACE RESULTS:</h1>
  </div>
</div>




  <div class="box-white">
    <div class="results-history">
    <%# <ul> %>
    <% @racetracks.each do |race| %>
      <div class="result">
        <h6>🃁 <%= race.deck.name%></h6>
        <p>📅 <%= race.updated_at.to_s(:short) %></p>
        <p>🏆 <%= race.winner.username %> - <%= cl_image_tag current_user.photo.key, class: "avatar" %></p>
      </div>
    <% end %>
    <%# </ul> %>
  </div>
</div>
