<div class="container">
  <div class="box-grey">
    <h1 class="history-title">PREVIOUS RACETRACK RESULTS:</h1>
  </div>
</div>
  <div class="box-white">
    <div class="results-history">
    <ul>
    <% @racetracks.each do |race| %>
      <h6>RACE NUMBER:</h6>
        <li><p><%= race.deck_id %></p></li>
      <h6 class="history-winners-list">THE WINNER WAS:</h6>
        <% user = User.find(race.winner_id) %>
        <li><p><%= user.username %></p></li>
        <hr>
    <% end %>
    </ul>
  </div>
</div>


<%# add completion %>
