<div class="container" >
  <div class="box-grey" style="border-style: solid; border-width: 5px; align-items: center; background-color: lightgray; color: black; width: 90%; padding: 7px; margin-top: 20px; margin-bottom: 20px;">
  <h1 class="history-title">SELECT A RACE</h1>
  </div>
</div>

</div>


<div class="center">

  <% @racetracks.each do |race| %>
    <div class="btn btn-primary join-race-button" style="font-family: handjet; width: 80%; border-width: 6px;">
      <%# <li><p> %>
      <%= link_to "/decks/#{race.deck_id}?racetrack=#{race.id}" do %>
        <h2><%= race.deck.name.upcase %>
        vs: <b><%= race.player_1.username %></b></h2>

        (<%= race.created_at %>)
      <% end %>
      <%# </p></li> %>
    </div>
  <% end %>

</div>
