<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height: 60px;">
  <div class="container-fluid">

      <% if user_signed_in? %>
      <div> <%= link_to " < ", :back , class: "btn btn-light btn btn-outline-dark btn-lg  " %></div>
      <div> <%= link_to " ? ", "#" , class: "btn btn-light btn btn-outline-dark btn-lg  " %></div>
      <div> <%= link_to " + ", "/" , class: "btn btn-light btn btn-outline-dark btn-lg  " %></div>
      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
