<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height: 74px; background-color: lightgray;">
  <div class="container-fluid">

      <% if user_signed_in? %>
      <div> <%= link_to " < ", :back , class: "btn btn-outline-dark navbar-text" %></div>

      <% if current_page?(:controller => 'decks', :action => 'show') %>
      <div> <%= link_to " ? ", "https://ruby-doc.org/" , class: "btn btn-outline-dark navbar-text", target: "_blank" %></div>
      <% end %>

      <div> <%= link_to " + ", "/menu" , class: "btn btn-outline-dark  navbar-text", style: "font-family: math; font-weight: bolder;" %></div>
      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
