<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Of Codes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Faster+One&family=Kanit&family=Press+Start+2P&family=Raleway:wght@600&family=Rubik+Iso&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.scss">

  <style>

    body {
      background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693688930/game-of-codes-full-scenario_gnzd5r.png");
      background-repeat: repeat;
      background-size: cover;
      background-attachment: fixed;
      /* animation: marquee 30s infinite linear; */
    }


  </style>

</head>

<body>
  <div class="hero">
    <div class="content">
      <h1>GAME 0F C0DES</h1>
      <h2>powered by ruby
        <img src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"
                  <%# "https://res.cloudinary.com/ddpxdkwin/image/upload/v1693495722/Ruby_logo_pixelated_30_qcziju.png" %>
            class="ruby">
      </h2>
    </div>

    <div class="container" id="home-container">

      <div class="btn" id="start-button" >
          <%= link_to "START", levels_path %>
      </div>
    </div>
  </div>
</body>

</html>
