<!DOCTYPE html>
<html>

<head>
  <title>GAME OF CODES</title>
  <link rel="stylesheet" href="style.scss">
  <style>
  body {
   background-image: url("https://ih1.redbubble.net/image.201326470.6642/flat,750x,075,f-pad,750x1000,f8f8f8.u2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  }
  </style>
</head>

<body>


  <div class="content">
    <h1 class="home-header center my-5">GAME OF CODES</h1>
      <h2 class="home-subheader center my-3">Powered by Ruby</h2>
      <div class="center my-3">
        <div class="btn" style="font-family: 'handjet';border-color: black;border-width: 2px;padding: 3px; border-radius: 0px;">
          <%= link_to "START GAME", levels_path %>
        </div>
      </div>
  </div>
</body>

</html>
