  <div class="hero">
    <div class="content">
      <h1>GAME 0F C0DES</h1>
      <h2>powered by ruby
        <img src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"
                  <%# "https://res.cloudinary.com/ddpxdkwin/image/upload/v1693495722/Ruby_logo_pixelated_30_qcziju.png" %>
            class="ruby">
      </h2>
    </div>

    <div class="container" id="home-container">

      <div class="btn" id="start-button" >
          <%= link_to "START", levels_path %>
      </div>
    </div>
  </div>
</body>

</html>
