<%# <!DOCTYPE html>
<html>
<head>
  <title>GAME OF CODES</title>
  <link rel="stylesheet" href="style.scss">
  <style>
  body {
   background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/narrow-home-page-background_eeuynk.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  }
  </style>
</head>
<body>
  <div class="content">
    <h1 class="home-header center my-5">GAME OF CODES</h1>
      <h2 class="home-subheader center my-3">Powered by Ruby</h2>
      <div class="center my-3">
        <div class="btn" id="home-button" style="font-family: 'handjet';border-color: black;border-width: 2px;padding: 3px; border-radius: 0px;">
          <%= link_to "START GAME", levels_path %>
        <%# </div> %>
      <%# </div> %>
  <%# </div> %>
<%# </body> %>
<%# </html> %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Of Codes</title>
  <link rel="stylesheet" href="style.scss">
  <img src="" alt="">
  <style>
  body {
   background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/narrow-home-page-background_eeuynk.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  }
  </style>
</head>
<body>
  <div class="content">
    <h1>GAME OF CODES</h1>
    <p>powered by ruby</p>
    <div class="btn" id="start-button" >
      <%= link_to "START GAME", levels_path %>
    </div>
  </div>

</body>
</html>
