.button-back {
  width: 50vw;
  height: 100%;
  border-radius: 0;
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
}

h6 {
  font-family: 'handjet';
  font-size: 19px;
  letter-spacing: 2px;
  margin-bottom: 18px;
  margin: 10px;
}

.loser-template {
  font-family: handjet;
}

.winner-template {
  font-family: handjet;
}

.congratulations-template {
  font-family: handjet;
}

h1 {
  font-family: 'handjet';
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 12px;
}

p {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: rgb(114, 114, 233);
  font-size: 20px;
}

h3 {
font-family: 'handjet';
font-size: 23px;
text-align: center;
letter-spacing: 2px;
margin-bottom: 10px;
margin-top: -20px;
}

.cat{
  width: 200px;
  margin-top: -22px;
}

.loser{
  height: 200px;
  margin-top: -22px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.winner{
  width: 200px;
  margin-top: -22px;
}
