.back-to-index-btn {
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  border-width: 3px;
  border-radius: 0px;
  margin-top: 20px;
  padding-top: 8px;
}

.congratulations-template {
  font-family: handjet;
}
