.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-grey {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Mudamos para "center" para centralizar verticalmente */
  align-items: center;
  width: 350px;
  height: 420px;
  background-color: lightgray;
  border: 5px solid rgb(6, 6, 6);
  padding: 20px;
  margin-top: 35px;
  margin: 29px 10px;
}

.results-history p {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #7272e9;
  font-size: 27px;
  font-family: handjet;
}
