.level-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  justify-items: center;
}

.level-card {
  background-size: cover;
  background-color: lightgray;
  background-position: center;
  height: 120px;
  width: 440px;
  border-width: 3px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 44px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.level-card .intermediate .advanced {
  color: black;
  background-color: aqua;
}

.level-card p {
  color: black;
  margin-bottom: 0;
}

.level-card i {
  color: black;
  padding-top: 15px;
}

.center {
  text-align: center;
}

.easy-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  justify-items: center;
}

.easy-card {
  height: 130px;
  width: 130px;
  background-color: lightgray;
  margin-bottom: 40px;

}

#levels-container {
  padding-top: 20%;
  margin-left: auto;
  align-items: center;
}

#decks-title-container {
  background-color: lightgray;
  width: 400px;
  height: 40px;
  margin: 0 auto 45px;
    h1 {
      border-style: solid;
      border-width: 4px;
    }

}
