.level-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  width: 100%;
}

.level-cards a {
  display: block;
}

.level-card {
  background-color: lightgray;
  height: 80px;
  border-width: 5px;
  border-color: black;
  color: white;
  font-size: 44px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.level-card h1 {
  text-align: center;
  width: 100%;
  color: black;
}

.level-card:hover {
  // opacity: .4;
  background-color: $green;
}

.level-card .intermediate .advanced {
  color: black;
    :hover {
      background-color: $red;
    }
}

.level-card p {
  color: black;
  margin-bottom: 0;
}

.level-card i {
  color: black;
  padding-top: 15px;
}

.center {
  text-align: center;
}

.easy-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  justify-items: center;
}
a {
  text-decoration: none;
}

.easy-card {
  height: 115px;
  width: 115px;
  background-color: lightgray;
  color: black;
  margin-bottom: 40px;
  font-family: handjet;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  border-style: solid;
  border-width:4px;
  text-decoration: none;
}

.unlock-card {
  width: 28vw;
  height: 28vw;
  background-color: $green;
  color: black;
  // margin-bottom: 40px;
  margin-bottom: 5vw;
  font-family: handjet;
  font-size: 25px;
  text-align: center;
  // padding-top: 40px;
  border-style: solid;
  border-width: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.incomplete-card {
  width: 28vw;
  height: 28vw;
  // opacity: 0.5;
  background-color: $light-gray;
  color: black;
  // margin-bottom: 40px;
  margin-bottom: 5vw;
  font-family: handjet;
  font-size: 25px;
  text-align: center;
  // padding-top: 40px;
  border-style: solid;
  border-width: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lock-card {
  opacity: 0.5;
  width: 28vw;
  height: 28vw;
  background-color: $light-gray;
  color: black;
  margin-bottom: 5vw;
  font-family: handjet;
  font-size: 24px;
  text-align: center;
  border-style: solid;
  border-width: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.easy-card:hover {
  background-color: $red;
}

.intermediate:hover {
  background-color: $red;
}

.advanced:hover {
  background-color: $red;
}

.levels-container {
  padding-top: 20%;
  margin: auto 10px;
  align-items: center;
  display: flex;
}

.decks-title {
  // padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#decks-title-container {
  background-color: lightgray;
  width: 95vw;
  max-height: fit-content;
  margin: 0 auto 45px;
    h1 {
      font-family: handjet;
      border-style: solid;
      border-width: 5px;
      height: 50px;
    }
}

.body-margin {
  margin: 5%;
}

.show-container {

  .tips-button {
    align-items: center;
    border-style: solid;
    border-color: black;
    width: 50px;
  }
}
