.navbar-lewagon {
  justify-content: space-between;
  background:lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.back-button {
  border-radius: 0px;
}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.0rem;
}

.navbar-text {
  font-size: 30px;
  border-radius: 0px;
  border-width: 3px;
  background-color: lightgray;
  font-family: handjet;
  font-size: 25px;
}
