.navbar-lewagon {
  justify-content: space-between;
  background:lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.back-button {
  border-radius: 0px;
}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.0rem;
}

.nav-btn {
  display: inline-flex;
  height: 50px;
  border: 5px solid black;
  width: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: handjet;
  font-size: 24px;
  background-color: lightgray;
  cursor: pointer;
}

.black-text {
  color: black;
}

.navbar-text {
  font-size: 30px;
  border-width: 3px;
  background-color: lightgray;
  font-family: handjet;
  font-size: 25px;
}


// TIPS MODAL
.modal-body {
  border-width: 3px;
  background-color: rgba(255, 229, 98, 0.631);
  // display: flex;
  // justify-content: center; /* Centralizar horizontalmente */
  // align-items: center; /* Centralizar verticalmente */
}

.modal-body h2{
  font-family: handjet;
  font-size: 27px;
  margin-top: -20px;
}

.modal-header {
  background-color: rgba(255, 229, 98, 0.631);
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h1 {
  font-family: 'handjet';
  font-size: 50px;
  letter-spacing: 1px;
}


.modal-footer {
  background-color: rgba(255, 229, 98, 0.631);
  border-radius: 0%;
}

.button-secondary {
  font-family: 'handjet';
    background-color: lightgray;
    border-width: 4px;
    border-color: black;
    font-size: 20px;
    border-radius: 0px;
    letter-spacing: 1px;
    width: 30%;
    height: 10%;
    margin: 0 auto;
}

.modal-tips .modal-content {
  border-radius: 0;
}

.modal-header {
    background-color: rgba(255, 229, 98, 0.631);
    border-bottom: none;
}

.picture-name-info {
  display: flex;
  align-items: center;
}

.name-beside-photo {
  margin-left: 8px;
  font-family: handjet;
  font-size: 24px;
}


// MENU MODAL
.modal-header-menu h1{
  font-family: 'handjet';
  font-size: 50px;
  letter-spacing: 1px;
  padding: 19px;
  color: white;
  display: flex;
  justify-content: center;
}

.modal-body-menu {
  border-width: 3px;
  font-family: handjet;
  font-size: 27px;
}

.modal-footer-menu {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

#levels-container {
  padding-top: 20%;
  margin: auto 10px;
  align-items: center;
  display: flex;
  margin-top: -40px;
}

.close-button {
  font-family: 'handjet';
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  font-size: 20px;
  border-radius: 0px;
  letter-spacing: 1px;
  width: 30vw;
  height: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.modal-menu {
  background-image: url(https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/Menu-background_ljsnhl.png)
}
.modal-menu .modal-content {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.user-first-name {
  font-family: 'handjet';
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.user-avatar {
  border-radius: 0px;
  margin-left: 5px;
}

.level-card-easy{
  height: 80px;
  width: 300px;
  border-width: 5px;
  margin-bottom: 10px;
  color: white;
  border-style: solid;
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  color: black;
}
