.green-bar {
  width: 5%;
  transition: width 0.5s ease-in;
  height: 40px;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.progress-box {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  border: solid 5px black;
  width: 100%;
}
.completed-text {
  font-family: 'handjet';
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 10;
}
.footer-container {
  background-color: lightgray;
  padding: 5%;
  align-items: flex-end;
  display: flex;
}

.footer-container-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 2.5rem;
}
.stopwatch {
  width: 25%;
  font-family: 'handjet';
  font-size: 24px;
  justify-content: space-between;
  margin-left: 20px;
}
