.green-bar {
  width: 5%;
  transition: width 0.5s ease-in;
  height: 40px;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.green-bar-multi {
  width: 5%;
  transition: width 0.5s ease-in;
  height: 20px;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.progress-box {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  border: solid 5px black;
  width: 100%;
}
.progress-box-multi {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30px;
  border: solid 5px black;
  width: 80vw;
}
.completed-text {
  font-family: 'handjet';
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 10;
  letter-spacing: 2px;
}
.completed-text-multi {
  font-family: 'handjet';
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 10;
  letter-spacing: 2px;
}
.footer-container {
  background-color: lightgray;
  padding: 5%;
  align-items: flex-end;
  display: flex;
}

.footer-container-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 2.5rem;
}
.stopwatch {
  width: 25%;
  font-family: 'handjet';
  font-size: 24px;
  justify-content: space-between;
  margin-left: 20px;
}

.completed-text {
  border-radius: 0;
  cursor: pointer;
  font-size: 18px;

}

// .progress-box {
//   transition: width 0.5s ease-in;
//   /* height: 40px; */
//   background-color: green;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
// }
