.green-bar {
  width: 5%;
  transition: width 0.5s ease-in;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.green-bar-multi {
  width: 5%;
  transition: width 0.5s ease-in;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.progress-box {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  border: solid 5px black;
}
.progress-box-multi {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  border: solid 5px black;
}
.completed-text {
  font-family: 'handjet';
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 10;
  letter-spacing: 2px;

}
.completed-text-multi {
  font-family: 'handjet';
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 10;
  letter-spacing: 2px;
}
.completed-text img,
.completed-text-multi img {
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
}
.footer-container {
  background-color: lightgray;
  padding: 5%;
  align-items: stretch;
  display: flex;
}

.footer-container-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 2.5rem;
}
.stopwatch {
  width: 25%;
  font-family: 'handjet';
  margin-left: 8px;
  background-color: rgb(249, 242, 118);
  border: solid 5px black;
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
