.box {
  width: 350px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border: 10px solid lightgray; /* Border style, width, and color */
  border-bottom-width: 55px;
  padding: 20px;
  position: absolute;
  top: 15%;
  left: 8%;
  outline: 5px solid rgb(4, 4, 4);
}

 h3 {
  font-family: 'handjet';
  font-size: 25px;
  position: absolute;
  top: 15%;
  left: 4%;
  letter-spacing: 2px;
 }

 h4 {
  font-family: 'handjet';
  font-size: 35px;
  letter-spacing: 5px;
  position: absolute;
  top: 2%;
  left: 40%;
}

h5 {
  font-family: 'handjet';
  font-size: 22px;
  position: absolute;
  top: 22%;
  left: 4%;
  letter-spacing: 1px;
}

.next {
  font-family: 'handjet';
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  font-size: 18px;
  border-radius: 0px;
  letter-spacing: 1px;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 40%;
  height: 10%;
}
