body {
  background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/narrow-home-page-background_eeuynk.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  // animation: marquee 400s infinite linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-bigger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 350px;
  height: 420px;
  background-color: lightgray;
  border: 5px solid rgb(6, 6, 6);
  padding: 20px;
  margin: 29px;
  text-align: center;
}

h4 {
  font-family: 'handjet';
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top: -10px;
}


.container-smaller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  padding: 20px;

}

.box-smaller {
  width: 250px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

 h3 {
  font-family: 'handjet';
  font-size: 25px;
  text-align: left;
  letter-spacing: 2px;
  align-items: left;
 }


h5 {
  font-family: 'handjet';
  font-size: 23px;
  letter-spacing: 1px;
}

.next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'handjet';
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  font-size: 20px;
  border-radius: 0px;
  letter-spacing: 1px;
  width: 43%;
  height: 15%;
  // margin-top: 110px;
}


.question h1{
  font-family: 'handjet';
  font-size: 25px;
  text-align: left;
  letter-spacing: 2px;
  align-items: left;
}


.answers-container{
  font-family: 'handjet';
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  font-size: 20px;
  border-radius: 0px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px;
  border-radius: 4px;
  letter-spacing: 5px;
  // width: 40%;
  // height: 12%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 20px;
}

// .questions-container h1{
//   font-family: 'handjet';
//   font-size: 33px;
//   letter-spacing: 1px;
//   margin-bottom: 10px;
//   margin-top: -10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.question .h1{
  font-family: 'handjet';
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: -10px;
}



input[type="submit"] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'handjet';
  background-color: lightgray;
  border-width: 4px;
  border-color: black;
  font-size: 20px;
  border-radius: 0px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'handjet';
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: -10px;
}
