<template data-game-target="congratulationsTemplate">
  <h1>Congratulations!!</h1>
  <h1>You have unlocked a new deck!!</h1>
  <%= link_to decks_path(level: "beginner") do %>
    <h2>Decks index</h2>
  <% end %>
</template>
