
<template class="congratulations-template" data-game-target="congratulationsTemplate">
  <h1>Congratulations!!</h1>
  <p>{{time}}</p>
  <br>
  <h1>You have unlocked a new deck!!</h1>
  <div class="btn back-to-index-btn">
    <h1><%= link_to "BACK TO DECKS", decks_path(level: "beginner") %></h1>
  </div>
  <div data-game-target="stopwatch" class="stopwatch"></div>
</template>
