
<template class="congratulations-template" data-game-target="box-smaller congratulationsTemplate">
  <h1>Congratulations!</h1>
  <p>Your time was: {{time}}</p>
  <img src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693945173/728a020d5290efa08d853c061307eb31_zwvzmw.gif" class="cat">
  <h3>You have unlocked a new deck!</h3>
  <div class="btn back-to-index-btn">
    <button class="button-back"><%= link_to "BACK TO DECKS", decks_path(level: "beginner") %></button>
  </div>
</template>
