<template class="loser-template" data-game-target="box-smaller loserTemplate">
  <%# TODO: connect in the stimulus %>
 <h1> You Lost !</h1>
  <p>Your time was: {{time}}</p>
  <img src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1694035046/sad_mbid1f.gif" class="cat">
  <div class="btn back-to-index-btn">
    <button class="button-back"><%= link_to "BACK TO DECKS", decks_path(level: "beginner") %></button>
  </div>
</template>
S
