<div class="footer-container <%= "footer-container-to-bottom" unless opponent %>">
  <div class="progress-box" data-game-target="<%= opponent ? "opponentProgressBar" : "progressBar" %>">
    <%# In the code below, style="width:NEW_NUMBER_%;", the NEW_NUMBER contains the percentage of correct answers. Example:1/5 is 20%). %>
    <div class="green-bar" style="width:0%;"></div>
    <div class="completed-text "> <%= user.username %> 0% COMPLETED!</div>
  </div>
  <% unless opponent %>
    <div data-game-target="stopwatch" class="stopwatch"></div>
  <% end %>
</div>
