  <div class="progress-box-multi" data-game-target="opponentProgressBar">
    <%# In the code below, style="width:NEW_NUMBER_%;", the NEW_NUMBER contains the percentage of correct answers. Example:1/5 is 20%). %>
    <div class="green-bar green-bar-multi" style="width:0%;"></div>
    <div class="completed-text completed-text-multi  "> <%= cl_image_tag user.photo.key %> <%= user.username %> <span class="percentage">0%<span></div>
  </div>
