
<%# Create a container with a black border %>
<div class="progress-box-border container">
  <p class="completed-text">
  GAME 50% COMPLETED
  </p>
</div>

<%# Create the container that contains all bars and borders %>
<div>
  <%# Create the red bar %>
  <div class="red-bar"></div>

  <%# Create the green bar, which will go OVER the red bar %>
  <div class="green-bar"></div>

  <p class="game-completed-percent">GAME COMPLETED 50%</p>

</div>
