<template data-game-target="questionTemplate">
  <div class="questions-container">
  <h1>{{content}}</h1>
  <form action="" data-game-target="form">

    <div class="answers-container">
      {{#answers}}
        <div>
          <input class="btn-check" id="answer-{{id}}" type="radio" name="answer" value="{{id}}" data-game-target="answerInput">
          <label class="btn btn-secondary" for="answer-{{id}}">{{content}}</label>
        </div>
      {{/answers}}
    </div>
    <button
      type="button"
      class="d-none"
      data-game-target="nextButton"
      data-action="click->game#nextQuestion"
    >
      Next
    </button>
  </form>

</template>
