<template class="winner-template" data-game-target="box-smaller winnerTemplate">
  <%# TODO: connect in the stimulus %>
 <h1> You win!</h1>
  <p> : ( Your time was: {{time}}</p>
  <img src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1694036855/super-mario-dancing-with-banana-pixel-art-sbfc9utlc81ptxe2_t0mgpk.gif" class="winner">
  <div class="btn back-to-index-btn">
    <button class="button-back"><%= link_to "BACK TO DECKS", decks_path(level: "multiplayer") %></button>
  </div>
</template>
