<h1 class="center my-5">Levels</h1>
<div class="container justify-content-center">

  <div class="level-cards">

    <div class="level-card">
      <i class="fa-solid fa-lock d-none"></i>
      <p>Easy</p>
    </div>


    <div class="level-card">
        <i class="fa-solid fa-lock"></i>
        <p>Intermediate</p>
    </div>


    <div class="level-card">
      <i class="fa-solid fa-lock"></i>
      <p>Advanced</p>
    </div>
  </div>

</div>
