
<h1 class="center my-5"><%= @decks.first.level %></h1>
<h2 class="center my-3" style="font-family: handjet">Select a Deck</h2>

<div class="easy-cards">
  <% @decks.each do |deck| %>
    <div class="easy-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= deck.name %>
    </div>
  <% end %>
</div>
