<div style="font-family: handjet;">
  <h1 class="center my-5">Levels</h1>
    <div class="container justify-content-center">

      <div class="level-cards">
        <%= link_to decks_path(level: "beginner") do %>
          <div class="level-card">
            <i class="fa-solid fa-lock d-none"></i>
            <p>Easy</p>
          </div>
        <% end %>

        <%= link_to decks_path(level: "intermediate") do %>
          <div class="level-card">
              <i class="fa-solid fa-lock"></i>
              <p>Intermediate</p>
          </div>
        <% end %>

        <%= link_to decks_path(level: "advanced") do %>
          <div class="level-card">
            <i class="fa-solid fa-lock"></i>
            <p>Advanced</p>
          </div>
        <% end %>
      </div>
    </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>

    <div>
      <h1>GAME COMPLETED 100%</h1>
      <div class="progress-box">
        <p>This is a white box</p>
      </div>
    </div>

  </div>

</div>
