<div class="show-container" data-controller="game" data-game-deck-id-value="<%= @deck.id %>">
  <div data-game-target="gameArea">
    <h1>Name of the deck:</h1>

    <h2><%= @deck.name %></h2>

    <div class="tips-card"
        data-game-target="tips">
      <h4>Tips:</h4>
      <h5><%= @deck.tips %></h5>
    </div>

    <button class="tips-button"
            data-game-target="startButton"
            data-action="click->game#start">
      Start
    </button>

    <div data-game-target="questionContainer"></div>

    <div data-game-target="answerConfirmation"></div>

  </div>
  <%= render "question_and_answers_template" %>
</div>

<%# HTML setup - Layout ðŸ‘‡ðŸ¿%>
<%# content_for :meta_title, "#{@restaurant.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @restaurant.description %>
<%# content_for :meta_image, cl_image_path(@restaurant.photo.key) if @restaurant.photo.attached? %>
