<div class="container" data-controller="game">
  <div data-game-target="gameArea">
    <h1>Deck #1 (just as an example)</h1>

    <h2>Name of the deck:</h2>
    <h3><%= @deck.name %></h3>

    <div class="tips-card"
        data-game-target="tips">
      <h4>Tips:</h4>
      <h5><%= @deck.tips %></h5>
    </div>

    <button class="btn btn-primary"
            data-game-target="startButton"
            data-action="click->game#start">
      Start/Next
    </button>

    <div data-game-target="questionContainer"></div>

    <div data-game-target="answerConfirmation"></div>

  </div>

  <%= render "question_and_answers_template" %>
</div>
